from .base import API, Model
import numbers
{% if api.models | needs_enum %}
from enum import Enum, unique
{% endif %}
{% for model in api.models %}


class {{model.name}}(Model):
    {% for field in model.fields %}
    {% if field.enum %}

    @unique
    class {{field.name | capitalize}}(Enum):
        {% for value in field.enum %}
        {{value}} = "{{value}}"
        {% endfor %}

        def asdict(self):
            return self.name

    {% endif %}
    {% endfor %}

    def __init__({{model.fields | as_args}}, **kwargs):
        {% for field in model.fields %}
        {% if field.required %}
        if {{field.name | as_valid_name}} is None:
            raise TypeError("Argument `{{field.name | as_valid_name}}` is required but its value is None")
        {% endif %}
        {# First try to convert to the given type #}
        {# convert dict to a Model object #}
        {% if field.type | is_model(api.models) %}
        if isinstance({{field.name | as_valid_name}}, dict):
            {{field.name | as_valid_name}} = {{field.type}}(**{{field.name | as_valid_name}})
        {% endif %}
        {# convert list to a list of Model object #}
        {% if field.type == "list" and field.items | is_model(api.models) %}
        if isinstance({{field.name | as_valid_name}}, list):
            {{field.name | as_valid_name}} = [e if isinstance(e, {{field.items}}) else {{field.items}}(**e) for e in {{field.name | as_valid_name}}]
        {% endif %}
        {# convert dict to a dict with keys being Model objects #}
        {% if field.type == "dict" and field.items[1] | is_model(api.models) %}
        if isinstance({{field.name | as_valid_name}}, dict):
            {{field.name | as_valid_name}} = {k, v if isinstance(v, {{field.items}}) else {{field.items}}(**v) for v in {{field.name | as_valid_name}}}
        {% endif %}
        {# Bug: dates are declared as strings, but given as int in the json #}
        {% if field.type == "str" %}
        if type({{field.name | as_valid_name}}) is int:
            {{field.name | as_valid_name}} = str({{field.name | as_valid_name}})
        {% endif %}
        {# Numbers are convertible #}
        {% if field.type in ("int", "float", "double") %}
        if isinstance({{field.name | as_valid_name}}, numbers.Number):
            {{field.name | as_valid_name}} = {{field.type}}({{field.name | as_valid_name}})
        {% endif %}
        {# Handle enums #}
        {% if field.enum %}
        if isinstance({{field.name | as_valid_name}}, str):
            {{field.name | as_valid_name}} = {{model.name}}.{{field.name | as_valid_name | capitalize}}[{{field.name | as_valid_name}}]
        {% endif %}
        {# Now check the type #}
        {# TODO: we should also check lists and dicts #}
        {% set check_type = model.name + "." + (field.name | as_valid_name | capitalize) if field.enum else field.type %}
        if not (isinstance({{field.name | as_valid_name}}, {{check_type}})) and {{field.name | as_valid_name}} is not None:
            raise TypeError("Argument `{{field.name | as_valid_name}}` is not of type `{{check_type}}` (%s)" % str(type({{field.name | as_valid_name}})))
        self.{{field.name | as_valid_name}} = {{field.name | as_valid_name}}
        {% endfor %}
        self._extra_ = kwargs
{% endfor %}


class {{api.name}}(API):
    def __init__(self, *args, **kwargs):
        super().__init__(*args, **kwargs)
    {% for endpoint in api.endpoints %}

    def {{endpoint.name}}({{endpoint.parameters | as_args}}):
        """
        {{endpoint.description}}

        ({{endpoint.method}} {{endpoint.path}})

        {% for p in endpoint.parameters %}
        :param {{p.name | as_valid_name }}: {{p.description}}
        {% set ptype = "list(" + p.items + ")" if p.type == "list" else p.type %}
        :type {{p.name | as_valid_name}}: {{ptype}}
        {% endfor %}
        {% set rtype = "Nothing" if endpoint.return_.type == "void" else endpoint.return_.type %}
        {% set rtype = "list(" + endpoint.return_.items + ")" if rtype == "list" else rtype %}
        :rtype: {{rtype}}
        """

        {% for parameter in endpoint.parameters %}
        {% if not parameter.type %}
            if {{parameter.required}} and {{parameter.name | as_valid_name}} is None:
                raise TypeError("Argument `{{parameter.name | as_valid_name}}` is required but its value is None")
            if not (isinstance({{parameter.name | as_valid_name}}, {{parameter.type}})):
                # Bug: dates are declared as strings, but given as int in the json
                if ({{parameter.type}} is str and type({{parameter.name | as_valid_name}}) is not int)
                    raise TypeError("Argument `{{parameter.name | as_valid_name}}` is not of type `{{parameter.type}}` (%s)" %
                                    str(type({{parameter.name | as_valid_name}})))
            self.{{parameter.name | as_valid_name}} = {{parameter.name | as_valid_name}}

        {% endif %}
        {% endfor %}
        path = "{{endpoint.path}}"
        {% for parameter in endpoint.parameters %}
        {% if parameter.paramType == "path" %}
        path = path.replace("{" + "{{parameter.name}}" + "}", str({{parameter.name | as_valid_name}}))
        {% endif %}
        {% endfor %}

        {% set body = endpoint.parameters | body %}
        {% if body | length > 1 %}
        raise RuntimeError("Too much body argument")
        {% endif %}
        ret = self.do_request("{{endpoint.method}}",
                              path,
                              {{endpoint.parameters | query_args}},
                              {{body[0] or {} }},
                              {{endpoint.responses | errors_dict}})

        if ret is None:
            return None

        {% if endpoint.return_.type == "void" %}
        return ret
        {% elif endpoint.return_.type == "list" %}
        if not isinstance(ret, list):
            raise TypeError("Returned json is not a list (%s)" % (type(ret)))
        return [{{endpoint.return_.items}}(**r) for r in ret]
        {% else %}
        return {{endpoint.return_.type}}(**ret)
        {% endif %}

    {{endpoint | path_to_function}} = {{endpoint.name}}
    {% endfor %}
